body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
    position: fixed; /* Keep in place */
}

body {
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

canvas {
    display: block;
    margin: 0 auto;
    background-color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
img {
   /* user-drag: none;  For Safari */
    user-select: none; /* For modern browsers */
    -moz-user-select: none; /* For Firefox */
    -webkit-user-drag: none; /* For Chrome, Safari, Opera */
    -webkit-user-select: none; /* For Chrome, Safari, Opera */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    pointer-events: none;
}

button, div {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@keyframes rainbowBorder {
    0% { border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet); }
    10% { border-image-source: linear-gradient(45deg, orange, yellow, green, deepskyblue, blueviolet, violet, red); }
    20% { border-image-source: linear-gradient(45deg, yellow, green, deepskyblue, blueviolet, violet, red, orange); }
    30% { border-image-source: linear-gradient(45deg, green, deepskyblue, blueviolet, violet, red, orange, yellow); }
    40% { border-image-source: linear-gradient(45deg, deepskyblue, blueviolet, violet, red, orange, yellow, green); }
    50% { border-image-source: linear-gradient(45deg, blueviolet, violet, red, orange, yellow, green, deepskyblue); }
    60% { border-image-source: linear-gradient(45deg, violet, red, orange, yellow, green, deepskyblue, blueviolet); }
    70% { border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet); }
    80% { border-image-source: linear-gradient(45deg, orange, yellow, green, deepskyblue, blueviolet, violet, red); }
    90% { border-image-source: linear-gradient(45deg, yellow, green, deepskyblue, blueviolet, violet, red, orange); }
    100% { border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet); }
}

@keyframes rainbowText {
    0% { background-position: 0% 50%; }
    100% { background-position: 1000% 50%; }
}

.rainbow-text {
    color: transparent;
    background: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    text-align: center;
    animation: rainbowText 7s linear infinite;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease-out;
}

.fade-out.hide {
    opacity: 0;
}

.top-container{
    position : absolute;
    top : 5px;
    left : 50%;
    transform : translateX(-50%);
    display : flex;
    align-items: center;
    flex-direction: column;
}

.bottom-container{
    position : absolute;
    bottom : 5px;
    left : 50%;
    transform : translateX(-50%);
    display : flex;
    align-items: center;
    flex-direction: column;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#survivorCanvas, #survivorZone, html, body {
    width: 100%;
    height: 100%;
    touch-action: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#xpLoadingContainer {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    height: 5px;
    background-color: black;
    box-sizing: border-box;
    border: 0.1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
}

#xpLoadingBar {
    width: 0;
    height: 100%;
    background: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    background-size: 400% 400%;
    animation: rainbow 5s linear infinite;
}

.choose-menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
}

.choose-menu-container {
    position: fixed;
    z-index: 1001;
    background-color: black;
    height: 100vh;
    width: 100vw;
    transform: translate(0%, -50%);
    border: 0.5px solid;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    box-sizing: border-box;
    overflow-y: auto;
    animation: rainbow-border 5s linear infinite;
} 

.choose-menu-grid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(4, auto); /* Adjust as needed */
}

.abilities-grid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(2, auto);
}

.title {
    font-size: 4vw;
}

.subtitle {
    font-size: 1.4vw;
}

@media (max-width: 830px) {
    .choose-menu-grid {
        grid-template-columns: repeat(2, auto); 
    }
    .title {
        font-size: 10vw;
    }
    
    .subtitle {
        font-size: 4vw;
    }
}

.loading-container {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: black;
    box-sizing: border-box;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
}

.loading-bar {
    width: 0; 
    height: 100%;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: rainbow 5s linear infinite;
}