:root {
    --image-filter: ''; /* Define the variable with an empty string */
}
  
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

body, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 

}
  body {
    background-color: #000;
  }
  
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
  
  @supports (-webkit-touch-callout: none) {
    body {
      min-height: 100vh;
    }
  }

canvas {
    display: block;
    margin: 0 auto;
    background-color: #fff;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
button {
    filter: var(--image-filter); 
}

.filter {
    filter: var(--image-filter); 
}


img {
    user-select: none; 
    -moz-user-select: none; 
    -webkit-user-drag: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    pointer-events: none;
}

button, div {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.rainbow-slider {
    height: 10px; /* Adjust this value for the desired height */
    -webkit-appearance: none; /* Remove default styles for more control */
    width: 200px; /* Set a width for the slider */
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); /* Example rainbow gradient */
    outline: none; 
    border-radius: 10px; /* Rounded corners */
    filter: var(--image-filter); 
  }
  
  .rainbow-slider::-webkit-slider-thumb { /* Style the slider thumb */
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Circular thumb */
    background: white;
    cursor: pointer;
    filter: var(--image-filter); 
  }

@keyframes rainbowText {
    0% { background-position: 0% 50%; }
    100% { background-position: 300% 50%; }
}

.rainbow-text {
    color: transparent;
    background: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 300% 100%;
    text-align: center;
    animation: rainbowText 5s linear infinite;
    filter: var(--image-filter); 
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease-out;
}

.fade-out.hide {
    opacity: 0;
}

.top-container{
    position : absolute;
    top : 5px;
    left : 50%;
    transform : translateX(-50%);
    display : flex;
    align-items: center;
    flex-direction: column;
}

.TL-container {
    position: fixed;
    top: 10px;     
    left: 10px;   
    display: flex;
}

.TR-container {
    position: fixed;
    top: 10px;     
    right: 10px;   
    display: flex;
}

.BL-container {
    position: fixed;
    bottom: 10px;     
    left: 10px;   
    display: flex;
}

.BR-container {
    position: fixed;
    bottom: 10px;     
    right: 10px;   
    display: flex;
}


.bottom-container{
    position : absolute;
    bottom : 5px;
    left : 50%;
    transform : translateX(-50%);
    display : flex;
    align-items: center;
    flex-direction: column;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#survivorCanvas, #survivorZone, html, body {
    width: 100%;
    height: 100%;
    touch-action: none;
    -webkit-user-select: none;  
    -ms-user-select: none; 
    user-select: none; 
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#horizontalBarContainer {
    width: 100%;
    height: 15px;
    background-color: black;
    box-sizing: border-box;
    border: 0.1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet); 

}

#horizontalBar {
    width: 0;
    height: 100%;
    background: linear-gradient(45deg,  yellow, green, deepskyblue);
    background-size: 400% 400%;
    animation: rainbow 5s linear infinite;
    transition: width 0.5s ease; 
}

#verticalBarContainer {
    height: 5vh;
    width: 1vw;
    margin-left: -5vw; 
    margin-bottom: 2vh;
    background-color: black;
    box-sizing: border-box;
    border: 0.05px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet); 
    display: flex;         
    align-items: flex-end;
}

#verticalBar {
    width: 100%;
    background-color: crimson;
    transition: height 0.5s ease; 
}

.choose-menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-direction: column;
}

.choose-menu-container {
    position: fixed;
    z-index: 1001;
    background-color: black;
    height: 100vh;
    width: 100vw;
    transform: translate(0%, -50%);
    box-sizing: border-box;
    overflow-y: auto;
} 

.choose-menu-grid {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(4, auto);
}

.abilities-grid {
    display: grid;
    justify-content: center;
    align-content: center; 
    margin: 0 auto;       
    grid-template-columns: repeat(2, auto); 
    place-items: center;    
}

.title {
    font-size: 4vw;
}

.subtitle {
    font-size: 2vw;
}

.minititle {
    font-size: 1.5vw;
    white-space: nowrap; 
}

.loading-container {
    position: relative;
    width: 25%;
    left: 37.5%;
    height: 30px;
    background-color: black;
    box-sizing: border-box;
    border: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    filter: var(--image-filter);
}

@media (max-width: 830px) {
    .choose-menu-grid {
        grid-template-columns: repeat(2, auto); 
    }
    .title {
        font-size: 10vw;
        white-space: nowrap;
    }
    
    .subtitle {
        font-size: 4.5vw;
        white-space: nowrap; 
    }

    .minititle {
        font-size: 3.5vw;
        white-space: nowrap; 
    }

    .loading-container {
        position: relative;
        width: 50%;
        left: 25%;
        height: 30px;
        background-color: black;
        box-sizing: border-box;
        border: 0.5px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
        filter: var(--image-filter);
    }
}

.loading-bar {
    width: 0; 
    height: 100%;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: rainbow 5s linear infinite;
    filter: var(--image-filter);
}

.rainbow-input {
    background-color: black;
    color: transparent;
    border: 0.1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    padding: 10px;
    filter: var(--image-filter); 
}

.rainbow-button {
    background-color: black;
    color: white;
    border: 0.1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    padding: 10px 20px; 
    cursor: pointer;
    margin-left: 5px; 
    filter: var(--image-filter); 
}
.rainbow-input::placeholder, .rainbow-input {
    color: transparent; 
    background: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    background-clip: text; 
    -webkit-background-clip: text; 
    background-size: 200% 200%;
    animation: rainbowText 7s linear infinite;
    filter: var(--image-filter); 
}



/* Checkbox Styles */
.rainbow-checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 40px; 
    height: 40px; 
    background-color: black; 
    border: 2px solid transparent; 
    border-radius: 5px; 
    border-image-slice: 1; 
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    cursor: pointer;
    filter: var(--image-filter);
  }
  
  .rainbow-checkbox:checked {
    background-color: white; 
   background-repeat: no-repeat;
    background-position: center;
  }
  

  .rainbow-select {
    color: transparent;
    background: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 300% 100%;
    text-align: center;
    animation: rainbowText 5s linear infinite;

    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, red, orange, yellow, green, deepskyblue, blueviolet, violet);
    padding: 10px; 
    cursor: pointer;
    filter: var(--image-filter);
  }
  
  .rainbow-select option { 
    background-color: black;
    color: white; 
  }
  
  .rainbow-select option:hover { 
    background-color: #333; 
  }